# THIS SETUP USES THE .ENV FILE TO PROVIDE ENVIRONMENT
# VARIABLES THAT YOU NEED TO PROVIDE THAT SHOULD NOT LIVE
# IN THE DOCKER-COMPOSE.YML FILE.

# COPY THIS FILE TO A .env FILE
# cp exmaple.env .env

# THEN, PUT THE VALUES THAT YOU WANT IN THE .ENV FILE,
# **NOT** THIS ONE

# Put your PEXELS API key after the equal sign, no spaces,
# no quotation marks, just the value
PEXELS_API_KEY=

# Put your OPEN WEATHER API key after the equal sign, no
# spaces, no quotation marks, just the value
OPEN_WEATHER_API_KEY=

# Put your DJWTO_SIGNING_KEY key after the equal sign, no
# spaces, no quotation marks, just some value that you type
# in. It can be anything, really
DJWTO_SIGNING_KEY=
